/*********
Reset 
*********/
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

/*********
Fonts 
*********/
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}
/*********
Navbar
*********/
.NavBar ul {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  list-style-type: none;
  margin: 0 0 24px 0px;
  padding: 0;
  width: 200px;
  background-color: #ffffff;
}

.NavBar li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

.NavBar li a.active {
  background-color: #ff00c8;
  color:rgb(2, 6, 41);
}

.NavBar li a:hover:not(.active) {
  background-color: #555;
  color: white;
}
/*********
Taille body
*********/
html{
  background-color: black;
}

body {
  background-color: rgb(2, 6, 41);
  width: 375px;
  min-height: 100vh;
  margin: auto;
}

/*********
margin clockwise from top 
*********/
.header{
  background-color: rgb(203, 19, 209);;
}

.titre{
  border-left: 47.8px solid rgb(2, 6, 41);
  font-family: "Poppins", sans-serif;  
  font-weight: 900;
  font-style: normal;
  color: rgb(2, 6, 41);
  margin: 0px 34px 68px 64.8px;
  padding: 10px 0px;
  padding-left: 17px;
}

/*********
Animation titre
*********/
.scroll{
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 50px;
  color: rgb(2, 6, 41);
  text-transform: uppercase;
  word-spacing: 10px;
  white-space: nowrap;
  position: relative;
  background-color: rgb(203, 19, 209);
  padding: 17px;
  margin: 34px 0 68px 0;
  overflow: hidden;
}

.scroll p{
  display: inline-block;
  padding-left: 100%;
  animation: TittleScroll 10s linear infinite;
}

@keyframes TittleScroll {
  0%   { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
}

/*********
Tout les h1 dans la classe titre 
*********/
.titre h1 {
  font-size: 53px;
  line-height: 90.7px;
}

.auteur{
  font-size: 20px; 
  margin-top: 184px;
  line-height: 17px;
}

.texte{
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size:25px;
  line-height: 40px;
  color: rgb(203, 19, 209);
  word-break: break-word;
}

/*********
First letter
*********/
.texte .pgauche::first-letter{
  margin-right: 0px;
  color: rgb(255, 255, 255);
  font-size: 100%;
} 

.texte .pdroite::first-letter{
  margin-right: 0px;
  color: rgb(255, 255, 255);
  font-size: 100%;
} 

.texte p{
  margin-bottom: 68px;
  hyphens: auto;
}

.texte br{
  margin-bottom: 17px;
  display: block;
  content: "";
}

.pgauche{
  margin-right: 34px;
}

.pdroite{
  border-left: 34px solid  rgb(203, 19, 209);
  padding-left: 17px;
  margin-left: 40px;
}

/*********
Lien
*********/
.lien a{
  background-color: rgb(255, 0, 221);
  padding: 10px 25px;
  border-radius: 10px;
  color: rgb(0, 255, 34);
}

lien a:hover {
  color: rgb(203, 19, 209);
  background-color: transparent;
  text-decoration: underline;
}

a svg{
  height: 25px;
  fill: rgb(0, 255, 34);
}
